body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url("images/image.jpeg");
  /* background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover; Resize the background image to cover the entire container */
}

.grid {
  width: 600px;
  height: 500px;
  background-color: black;
  border: solid black 1px;
}

.top-container, 
.middle-container,
.bottom-container {
  width: 600px;
  height: 100px;
  background-color: purple;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#categories {
  width: 200px;
  height: 50px;
 }

.spinner {
  width: 200px;
  height: 50px;
  margin-right: 5px;
  background-color: black;
  color: white
}

.spinner #textbox {
  font-size: 24px; 
  width: 200px; 
  height: 50px; 
  border: 1px solid black; 
  text-align: center; 
  line-height: 50px;
}

.spinner #spin_button {
  margin-left: 80px;
}  

.stats {
  width: 150px;
  height: 50px;
}

.letters-container {
  height: 100px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.letters-container button {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
}

.bottom-container {
  height: 265px;
}

.word-container{
  width: 600px;
  height: 80px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-status-container {
  width: 6000px;
  color: white;
  text-align: center;
}

.button-container {
  width: 600;
}

.button-container #replay_button {
  width: 75px;
  height: 25px;
  border: solid black 1px;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

.word-container div{
  width: 15px;
  height: 20px;
  background-color: black;
  margin-left: 1.5px;
  text-align: center;
}